
:root {
    --cor-preta: #111111;
    --cor-branca: #ffffff;
    --cor-fundo: #f4f4f4;
    --cor-azul: #0056b3;
    --cor-cinza: #d7d7d7;
    --cor-cinza-escuro: #494949;
    --cor-verde: #35a020;
    --cor-vermelha: #f10000;

}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background-color: var(--cor-fundo);
    color: var(--cor-preta);
    margin: 0;
    padding: 0;
}

.main-header {
    background-color: var(--cor-azul);
    color: var(--cor-branca);
    padding: 15px 20px;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

section {
    margin: 2rem;
}

h2 {
    color: var(--cor-azul);
    border-bottom: 2px solid var(--cor-cinza);
    padding-bottom: 5px;
    margin-top: 0;
}

h3 {
    color: var(--cor-cinza);
    margin-top: 25px;
}

form,
div.container-bloco,
pre#resultado-servicos {
    background-color: var(--cor-branca);
    padding: 25px;
    border-radius: 8px;
    margin: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    color: var(--cor-cinza-escuro);
}

input[type="text"],
input[type="number"],
input[id="nome"],
input[id="tipo"],
input[id="variacao"],
input[id="custo_fixo"],
input[id="custo_area"],
input[id="custo_quantidade"],
input[id="tipoServico"],
input[id="novoValor"],
input[id="servicoExcluir"],
select {
    width: 95%;
    max-width: 300px;
    padding: 10px;
    margin: 5px 5px 5px 0;
    border: 1px solid var(--cor-cinza);
    border-radius: 4px;
    background-color: var(--cor-fundo);
    color: var(--cor-preta);
    font-size: 14px;
    box-sizing: border-box;
}


form br {
    display: none;
}


button {
    color: var(--cor-branca);
    border: none;
    padding: 12px 18px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    margin-top: 10px;
    transition: background-color 0.2s ease;
    width: 100%;
}

button:hover {
    opacity: 0.9;
}

button[type="submit"],
button#btnSalvarAlteracao {
    background-color: var(--cor-verde);
}

button#btnExcluir {
    background-color: var(--cor-vermelha);
}

button#btn-consulta-servicos,
button#btn-desapareca-servicos {
    background-color: var(--cor-azul);
    width: auto;
    margin-right: 10px;
}

pre#resultado-servicos {
    background-color: var(--cor-fundo);
    white-space: pre-wrap;
    word-wrap: break-word;
    min-height: 50px;
    border: 1px dashed var(--cor-cinza);
}